<%= form_for @recipe, html: {class:"ui small form"} do |f| %>
  <h4 class="ui dividing header">Fill out the form to add your recipe</h4>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
   
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="four fields">
    <div class="five wide field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="six wide field">
      <div class="three fields">
        <div class="field">
          <%= f.label :servings %>
          <%= f.select :servings, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8]]), {required: 'true', autofocus:'true', class:'ui fluid search dropdown', prompt:'Servings'} %>
        </div>
        <div class="field">
          <%= f.label :cooking_time %>
          <%= f.select :cooking_time, options_for_select([["1-5 minutes", 1], ["5-10 minutes", 2], ["10-15 minutes", 3], ["15-20 minutes", 4], ["20-25 minutes", 5], ["25-30 minutes", 6], ["30-35 minutes", 7], ["35-40 minutes", 8], ["45-50 minutes", 9], ["50+ minutes", 10]]), {required: 'true', autofocus: 'true', class: 'ui fluid search dropdown', prompt: 'Cooking Time'} %>
        </div>
        <div class="field">
          <%= f.label :level_of_difficulty %>
          <%= f.select:level_of_difficulty, options_for_select([["Simple", 1], ["Easy", 2], ["Medium", 3], ["Challenging", 4]]), {required: 'true', autofocus: 'true', class: 'ui fluid search dropdown', prompt: 'Difficulty'} %>
        </div>
      </div>
    </div>
  </div>
  <div class="fields">
    <div class="five wide field">
        <%= f.label :ingredients %>
        <%= f.text_area :ingredients %>
    </div>
    <div class="six wide field">
      <%= f.label :procedure %>
      <%= f.text_area :procedure %>
    </div>
  </div>

  <%= f.submit @recipe.new_record? ? "Add Recipe" : "Edit Recipe", class: "ui olive button"%>
<% end %>
