<%= form_for @recipe, html: {class:"ui small form"} do |f| %>
  <h4 class="ui dividing header">Fill out the form to add your recipe</h4>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
   
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="fields">
      <div class="five wide field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="two wide field">
        <%= f.label :servings %>
        <%= f.select :servings, options_for_select([["select",""],[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8]]),{},  {class:'ui fluid search dropdown'} %>
      </div>
      <div class="two wide field">
          <%= f.label :cooking_time %>
          <%= f.select :cooking_time, options_for_select([["select",""],["1-5 min.", 1], ["5-10 min.", 2], ["10-15 min.", 3], ["15-20 min.", 4], ["20-25 min.", 5], ["25-30 min.", 6], ["30-35 min.", 7], ["35-40 min.", 8], ["45-50 min.", 9], ["50+ minutes", 10]]), {}, {class: 'ui fluid search dropdown'}%>
      </div>
      <div class="two wide field">
          <%= f.label :level_of_difficulty %>
          <%= f.select :level_of_difficulty, options_for_select([["select", ""],["Simple", 1], ["Easy", 2], ["Medium", 3], ["Challenging", 4]]), {}, {class: 'ui fluid search dropdown'} %>
      </div>
    </div>


    <div class="fields">
      <div class="three wide field">
          <%= f.label :food_preference %>
          <%= f.select(:food_preference_id, options_from_collection_for_select(FoodPreference.all, :id, :name),{prompt: "select"}, class: "ui fluid search dropdown")  %>
        </div>
      <div class="three wide field">
        <%= f.label :food_type %>
        <%= f.select(:food_type_id, options_from_collection_for_select(FoodType.all, :id, :name),{prompt: "select"}, class: "ui fluid search dropdown")  %>
      </div>
      <div class="three wide field">
        <%= f.label :cuisine %>
        <%= f.select(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name),{prompt: "select"}, class: "ui fluid search dropdown")  %>
      </div>
    </div>


  <div class="fields">
    <div class="five wide field">
        <%= f.label :ingredients %>
        <%= f.text_area :ingredients %>
    </div>
    <div class="six wide field">
      <%= f.label :procedure %>
      <%= f.text_area :procedure %>
    </div>
  </div>

  <%= f.submit @recipe.new_record? ? "Add Recipe" : "Edit Recipe", class: "ui olive button"%>
<% end %>
