<% if current_user %>
  <div class="ui inverted segment">
    <div class="ui top fixed inverted menu">
      <%= link_to "Sign Out", signout_path, class: "item" %>
    </div>
  </div>
<% else %>
  <div class="ui inverted segment">
    <div class="ui top fixed inverted menu">
      <%= link_to "Sign Up", signup_path, class: "item" %>
      <%= link_to "Sign In", signin_path, class:"item" %>
    </div>
  </div>
<% end %> 






 <div class="ui raised segment">
<div class="ui three column vertically padded grid">
  <div class="column">
    <h2 class="ui center aligned icon header">
      <i class="book icon"></i>
      <div class="content">
        Cookbook
        <div class="sub header"> <%= link_to "Add a recipe to our cookbook",  new_recipe_path, class: "new_recipe" %></div>

      </div>
    </h2>
  </div>
  <div class="column">
  <h2 class="ui center aligned icon header">
    <i class="food icon"></i>
    <div class="content">
      Recipes
      <div class="sub header">Welcome</div>

    </div>
  </h2>
  </div>
  <div class="column">
    <h2 class="ui center aligned icon header">
      <i class="spoon icon"></i>
      <div class="content">
        Hungry?
        <div class="sub header">Find a recipe</div>

      </div>
    </h2>
  </div>
</div>
</div>

<div class="ui raised segment hide">
  <div id="space"></div>
</div>











<!-- <ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe %></li>
  <% end %>
</ul> -->
