
<!-- <%= form_tag("/search", method: "get", class: 'ui form') do %>
  <%= text_field_tag(:search) %>
  <%= submit_tag "Search", class:"ui olive button" %>
<% end %> -->
<%= form_tag search_path, class: "ui small form" do |f| %>
<h1 class="ui left aligned header">Search For Recipe</h1>

  <div class="five wide field">
    <%= text_field_tag(:search) %>
  </div>
  <%= submit_tag "Search", class: "ui olive button" %>


<% end %>
