<%= render 'search' %>
<div class="ui bottom segment">
  <h2 class="ui block header"> <%= @recipe.name %></h2>
  <table class="ui basic table">
    <thead>
      <tr><th>Food Preference</th>
      <th>Food Type</th>
      <th>Cuisine</th>
      <th>Servings</th>
      <th>Cooking Time</th>
      <th>Level of Difficulty</th>
    </tr></thead>
    <tbody>
      <td> <%= @recipe.food_preference.name %> </td>
      <td> <%= @recipe.food_type.name %></td>
      <td> <%= @recipe.cuisine.name %></td>
      <td> <%= @recipe.servings %></td>
      <td> <%= @recipe.cooking_time %></td>
      <td> <%= @recipe.level_of_difficulty %></td>
    </tbody>
  </table>

  <table class="ui basic table">
    <thead>
      <tr><th>Ingredients</th><tr>
    </thead>
    <tbody>
      <td>
        <%= @recipe.ingredients %>
      </td>
    </tbody>
  </table>

  <table class="ui basic table">
    <thead>
      <tr><th>Procedure</th><tr>
    </thead>
    <tbody>
      <td>
        <%= @recipe.procedure %>
      </td>
    </tbody>
  </table>
</div>
