

<%= form_for @user, url: signup_path, html: {class: 'ui small form'} do |f| %>

  <% if @user.errors.present? %>
    <div class="ui negative message">
      <i class="close icon"></i>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
  <% end %>
  <h1 class="left aligned header">Sign Up</h1>

  <div class="five wide field">
    <%= f.label :email %>
    <%= f.email_field :email, id:"email" %>
  </div>

  <div class="five wide field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name, id:"username" %>
  </div>

  <div class="five wide field">
    <%= f.label :password %>
    <%= f.password_field :password, id: "password" %>
  </div>

  <div class="five wide field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, id: "password_confirmation" %>
  </div>

  <%= f.submit "Sign up", class: "ui olive button" %>


<% end %>
