<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style src ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0/semantic.min.css"></style>
</head>
<body>

  <%= yield %>

  <% flash.each do |key, value| %>
  <div class="ui three column centered grid">
      <div class="column">
        <div class="ui compact success message">
          <i class="close icon"></i>
          <div class="header">
            <%= value %>
          </div>
        </div>
      </div>



  <% end %>

</body>
</html>
